<div class="container mt-4">
  <h3 class="mb-3">Popular Series</h3>

  <div class="row g-3">
    @for (serie of series; track serie.id) {
    <div class="col-md-3 col-6">
      <a routerLink="/series/detail/{{ serie.id }}">
        <div class="card h-100 shadow">
          <img [src]="'https://image.tmdb.org/t/p/w500' + serie.poster_path" class="card-img-top" [alt]="serie.name">
          <!-- Nombre y fecha dentro de la imagen -->
          <div class="overlay">
            <h5 class="title">{{ serie.name }}</h5>
            <p class="vote-average">⭐ {{ serie.vote_average}}</p>
            <p class="date">{{ serie.first_air_date| date}}</p>
          </div>
        </div>
      </a>
    </div>
    }
  </div>
</div>